﻿
@model WaterCompanyViewModel.Admin.CustomerFM



@using (Html.BeginForm("Create", "Customers", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">التفاصيل</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@EmployeeRes.Details</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        <label> الاسم   </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.Longid, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Longid, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.Latid, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Latid, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-2">
                                        <label> المنطقه   </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => Model.RegionId, (List<SelectListItem>)ViewBag.RegionList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label> رقم الموبيل   </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-circle" />
                                    </div>
                                    <div class="col-md-2">
                                        <label> العنوان   </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-circle" />
                                    </div>
                                </div>

                                <br />
                                @if (Model.Id == 0)
                                {
                                <div class="row">
                                    <div class="col-md-2">
                                        <label> اسم المستخدم   </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-2">
                                        <label>  كلمه السر   </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="password" name="Password" id="Password" class="form-control input-circle" />
                                    </div>
                                    </div>
                                }
                                    <br />

                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-3">
                                            <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>


