﻿@model  WaterCompanyViewModel.Admin.CarsVM

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <br /><br /><br />
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>
                <span style="font-weight:bold;">بحث</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand" data-original-title="" title=""></a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="SearchCriteria">
                @using (Html.BeginForm("Search", "Cars", new { area = "Admin" }, FormMethod.Get, new { id = "SearchForm" }))
                {
                    
                    <br />
                    <div class="row">
                        <div class="text-center">
                          
                            <input type="button" id="AddNew" onclick="Create()" class="btn btn-circle blue New" value="اضافه جديد" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        @*<span class="caption-subject bold uppercase">@GlobalRes.SearchResult</span>*@
                    </div>
                    <div class="tools"></div>
                    <div id="SearchResultTitle" class="pull-right">
                        @*@Html.Editor("PageSize", "PageSizeSelector")*@
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="SearchResult">
                        <div id="SearchTableContainer"></div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

    @section scripts
{
        <script src="~/Areas/Admin/Scripts/managecars.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                manageCars.init();
            });
        </script>
    }