﻿@model IEnumerable<WaterCompanyViewModel.Admin.InvoiceDetailsDetails>

<div class="panel">
    <table class="table table-striped table-bordered table-hover datatable" width="100%">
        <thead>
            <tr>
                <th>التسلسل</th>
                <th>اسم المنتج</th>
                <th>السعر</th>
                <th>الكميه</th>
                @*<th>الاجمالى</th>*@
                @*<th>نسبه المنتدوب</th>
                    <th>نسبه السائق</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>@item.Id</td>
                    <td>@item.NameAr</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    @*<td>@item.TotalPrice</td>*@
                    @*<td>@item.DelegetPercent</td>
                        <td>@item.DriverPercent</td>*@
                    <td><input type="button" id="btnDelete" onclick="DeleteProduct(@item.Id)" value="حذف" /></td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
        //$(function () {
        //    $('.datatable').DataTable();

        //        //Buttons examples
        //        var table = $('#datatable-buttons').DataTable({
        //            lengthChange: false,
        //            buttons: ['copy', 'excel', 'pdf']
        //        });

        //        table.buttons().container()
        //                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        //    } );


</script>

