﻿@model  WaterCompanyViewModel.Admin.DelegateVM

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <br /><br /><br />
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>
                <span style="font-weight:bold;">بحث</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand" data-original-title="" title=""></a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="SearchCriteria">
                @using (Html.BeginForm("Search", "Delegate", new { area = "Admin" }, FormMethod.Get, new { id = "SearchForm" }))
                {
                    @*<div class="row">
                            <div class="col-md-1">
                                @Html.LabelFor(model => model.NameSm, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.NameSm, new { htmlAttributes = new { @class = "form-control input-circle" } })
                            </div>
                        </div>*@
                    <br />
                    <div class="row">
                        <div class="text-center">
                            @*<input type="button" value="بحث" id="btnSearch" class="btn btn-circle yellow" onclick="Search()"/>*@
                            @*<input type="button" value="@GlobalRes.btnShowAll" id="ShowAll" class="btn btn-circle yellow" onclick="SearchAll()"/>*@
                            <input type="button" id="AddNew" onclick="Create()" class="btn btn-circle blue New" value="اضافه جديد" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        @*<span class="caption-subject bold uppercase">@GlobalRes.SearchResult</span>*@
                    </div>
                    <div class="tools"></div>
                    <div id="SearchResultTitle" class="pull-right">
                        @*@Html.Editor("PageSize", "PageSizeSelector")*@
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="SearchResult">
                        <div id="SearchTableContainer"></div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

    @section scripts
{
        <script src="~/Areas/Admin/Scripts/Delegate.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                managedelegatet.init();
            });
        </script>
    }