﻿
@model WaterCompanyViewModel.Admin.EmployeeVM



@using (Html.BeginForm("Create", "Employee", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">تفاصيل </h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@ProductRes.Details</span>
                    </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        <label >اسم الموظف عربى</label>
                                        @*@Html.LabelFor(mode => mode.NameAr, htmlAttributes: new { @class = "control-label" })*@
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-2">
                                        <label>اسم الموظف اجليزى</label>

                                        @*@Html.LabelFor(mode => mode.NameEn, htmlAttributes: new { @class = "control-label" })*@
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>المنصب  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => Model.PositionId, (List<SelectListItem>)ViewBag.Events, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>العنوان  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                </div>
                                <br />

                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>رقم الموبيل  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-2">
                                        <label> تفاصيل  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label> الرصيد الحالى  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.PercentAmount, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                   
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                        </div>
                    </div>
                    </div>

                    }



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>


